wsdl/internationaladdress.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.webservices.nl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.webservices.nl/soap/">
<types>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.webservices.nl/soap/"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="HeaderAuthenticateType">
  <xsd:all>
   <xsd:element name="reactid" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="HeaderLoginType">
  <xsd:all>
   <xsd:element name="username" type="xsd:string"/>
   <xsd:element name="password" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="InternationalAddressSearchV2Result">
  <xsd:all>
   <xsd:element name="validation_status" type="xsd:string"/>
   <xsd:element name="result" type="tns:InternationalV2Array"/>
   <xsd:element name="country_iso3" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="InternationalV2">
  <xsd:all>
   <xsd:element name="address" type="tns:InternationalFormattedAddress"/>
   <xsd:element name="element_match_status" type="xsd:string"/>
   <xsd:element name="element_result_status" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="InternationalV2Array">
  <xsd:sequence>
   <xsd:element name="item" type="tns:InternationalV2" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="International">
  <xsd:all>
   <xsd:element name="matchrate" type="xsd:float"/>
   <xsd:element name="street" type="xsd:string"/>
   <xsd:element name="housenr" type="xsd:string"/>
   <xsd:element name="pobox" type="xsd:string"/>
   <xsd:element name="locality" type="xsd:string"/>
   <xsd:element name="postcode" type="xsd:string"/>
   <xsd:element name="province" type="xsd:string"/>
   <xsd:element name="country" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="InternationalArray">
  <xsd:sequence>
   <xsd:element name="item" type="tns:International" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ResultInfo">
  <xsd:all>
   <xsd:element name="curpage" type="xsd:int"/>
   <xsd:element name="perpage" type="xsd:int"/>
   <xsd:element name="numpages" type="xsd:int"/>
   <xsd:element name="numresults" type="xsd:int"/>
   <xsd:element name="maxresults" type="xsd:int"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="InternationalPagedResult">
  <xsd:all>
   <xsd:element name="paging" type="tns:ResultInfo"/>
   <xsd:element name="results" type="tns:InternationalArray"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="InternationalFormattedAddress">
  <xsd:all>
   <xsd:element name="matchrate" type="xsd:float"/>
   <xsd:element name="street" type="xsd:string"/>
   <xsd:element name="housenr" type="xsd:string"/>
   <xsd:element name="pobox" type="xsd:string"/>
   <xsd:element name="locality" type="xsd:string"/>
   <xsd:element name="postcode" type="xsd:string"/>
   <xsd:element name="province" type="xsd:string"/>
   <xsd:element name="country" type="xsd:string"/>
   <xsd:element name="countryspecific_locality" type="xsd:string"/>
   <xsd:element name="delivery_address" type="xsd:string"/>
   <xsd:element name="formatted_address" type="xsd:string"/>
   <xsd:element name="organization" type="xsd:string"/>
   <xsd:element name="department" type="xsd:string"/>
   <xsd:element name="contact" type="xsd:string"/>
   <xsd:element name="building" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="InternationalFormattedAddressArray">
  <xsd:sequence>
   <xsd:element name="item" type="tns:InternationalFormattedAddress" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="InternationalFormattedAddressPagedResult">
  <xsd:all>
   <xsd:element name="paging" type="tns:ResultInfo"/>
   <xsd:element name="results" type="tns:InternationalFormattedAddressArray"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="loginRequestType">
  <xsd:all>
   <xsd:element name="username" type="xsd:string"/>
   <xsd:element name="password" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="loginResponseType">
  <xsd:all>
   <xsd:element name="reactid" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="logoutRequestType"/>
 <xsd:complexType name="logoutResponseType"/>
 <xsd:complexType name="internationalAddressSearchV2RequestType">
  <xsd:all>
   <xsd:element name="organization" type="xsd:string"/>
   <xsd:element name="building" type="xsd:string"/>
   <xsd:element name="street" type="xsd:string"/>
   <xsd:element name="housenr" type="xsd:string"/>
   <xsd:element name="pobox" type="xsd:string"/>
   <xsd:element name="locality" type="xsd:string"/>
   <xsd:element name="postcode" type="xsd:string"/>
   <xsd:element name="province" type="xsd:string"/>
   <xsd:element name="country" type="xsd:string"/>
   <xsd:element name="language" type="xsd:string"/>
   <xsd:element name="country_format" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="internationalAddressSearchV2ResponseType">
  <xsd:all>
   <xsd:element name="out" type="tns:InternationalAddressSearchV2Result"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="internationalAddressSearchInteractiveRequestType">
  <xsd:all>
   <xsd:element name="organization" type="xsd:string"/>
   <xsd:element name="building" type="xsd:string"/>
   <xsd:element name="street" type="xsd:string"/>
   <xsd:element name="housenr" type="xsd:string"/>
   <xsd:element name="pobox" type="xsd:string"/>
   <xsd:element name="locality" type="xsd:string"/>
   <xsd:element name="postcode" type="xsd:string"/>
   <xsd:element name="province" type="xsd:string"/>
   <xsd:element name="country" type="xsd:string"/>
   <xsd:element name="language" type="xsd:string"/>
   <xsd:element name="country_format" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="internationalAddressSearchInteractiveResponseType">
  <xsd:all>
   <xsd:element name="out" type="tns:InternationalAddressSearchV2Result"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:element name="errorcode" type="xsd:string"/>
 <xsd:element name="login" type="tns:loginRequestType"/>
 <xsd:element name="loginResponse" type="tns:loginResponseType"/>
 <xsd:element name="HeaderLogin" type="tns:HeaderLoginType"/>
 <xsd:element name="HeaderAuthenticate" type="tns:HeaderAuthenticateType"/>
 <xsd:element name="logout" type="tns:logoutRequestType"/>
 <xsd:element name="logoutResponse" type="tns:logoutResponseType"/>
 <xsd:element name="internationalAddressSearchV2" type="tns:internationalAddressSearchV2RequestType"/>
 <xsd:element name="internationalAddressSearchV2Response" type="tns:internationalAddressSearchV2ResponseType"/>
 <xsd:element name="internationalAddressSearchInteractive" type="tns:internationalAddressSearchInteractiveRequestType"/>
 <xsd:element name="internationalAddressSearchInteractiveResponse" type="tns:internationalAddressSearchInteractiveResponseType"/>
</xsd:schema>
</types>
<message name="loginRequest">
  <part name="parameters" element="tns:login" /></message>
<message name="loginResponse">
  <part name="parameters" element="tns:loginResponse" /></message>
<message name="Headers">
  <part name="HeaderLogin" element="tns:HeaderLogin" />
  <part name="HeaderAuthenticate" element="tns:HeaderAuthenticate" /></message>
<message name="logoutRequest">
  <part name="parameters" element="tns:logout" /></message>
<message name="logoutResponse">
  <part name="parameters" element="tns:logoutResponse" /></message>
<message name="internationalAddressSearchV2Request">
  <part name="parameters" element="tns:internationalAddressSearchV2" /></message>
<message name="internationalAddressSearchV2Response">
  <part name="parameters" element="tns:internationalAddressSearchV2Response" /></message>
<message name="internationalAddressSearchInteractiveRequest">
  <part name="parameters" element="tns:internationalAddressSearchInteractive" /></message>
<message name="internationalAddressSearchInteractiveResponse">
  <part name="parameters" element="tns:internationalAddressSearchInteractiveResponse" /></message>
<portType name="Webservices.nlPortType">
  <operation name="login">
    <documentation>Logs the user in using username and password, returns a reactid for authentication in further requests</documentation>
    <input message="tns:loginRequest"/>
    <output message="tns:loginResponse"/>
  </operation>
  <operation name="logout">
    <documentation>Logs the user out, destroys the session associated with the reactid</documentation>
    <input message="tns:logoutRequest"/>
    <output message="tns:logoutResponse"/>
  </operation>
  <operation name="internationalAddressSearchV2">
    <documentation>Returns up to 20 suggestions of valid addresses using the partial or full address data given. Returns more data than internationalAddressSearch.</documentation>
    <input message="tns:internationalAddressSearchV2Request"/>
    <output message="tns:internationalAddressSearchV2Response"/>
  </operation>
  <operation name="internationalAddressSearchInteractive">
    <documentation>Returns up to 20 suggestions of valid addresses using the partial or full address data given. Returns more data than internationalAddressSearch.</documentation>
    <input message="tns:internationalAddressSearchInteractiveRequest"/>
    <output message="tns:internationalAddressSearchInteractiveResponse"/>
  </operation>
</portType>
<binding name="Webservices.nlBinding" type="tns:Webservices.nlPortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="login">
    <soap:operation soapAction="https://api.webservices.nl/internationaladdress/soap_doclit.php/login" style="document"/>
    <input><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderLogin" use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></input>
    <output><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></output>
  </operation>
  <operation name="logout">
    <soap:operation soapAction="https://api.webservices.nl/internationaladdress/soap_doclit.php/logout" style="document"/>
    <input><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderLogin" use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></input>
    <output><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></output>
  </operation>
  <operation name="internationalAddressSearchV2">
    <soap:operation soapAction="https://api.webservices.nl/internationaladdress/soap_doclit.php/internationalAddressSearchV2" style="document"/>
    <input><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderLogin" use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></input>
    <output><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></output>
  </operation>
  <operation name="internationalAddressSearchInteractive">
    <soap:operation soapAction="https://api.webservices.nl/internationaladdress/soap_doclit.php/internationalAddressSearchInteractive" style="document"/>
    <input><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderLogin" use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></input>
    <output><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></output>
  </operation>
</binding>
<service name="Webservices.nl">
  <port name="Webservices.nlPort" binding="tns:Webservices.nlBinding">
    <soap:address location="https://api.webservices.nl:443/internationaladdress/soap_doclit.php"/>
  </port>
</service>
</definitions>