wsdl/vat.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.webservices.nl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.webservices.nl/soap/">
<types>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.webservices.nl/soap/"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="HeaderAuthenticateType">
  <xsd:all>
   <xsd:element name="reactid" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="HeaderLoginType">
  <xsd:all>
   <xsd:element name="username" type="xsd:string"/>
   <xsd:element name="password" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="VatValidation">
  <xsd:all>
   <xsd:element name="vat_number" type="xsd:string"/>
   <xsd:element name="valid" type="xsd:boolean"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="VatProxyViesCheckVatResponse">
  <xsd:all>
   <xsd:element name="country_code" type="xsd:string"/>
   <xsd:element name="vat_number" type="xsd:string"/>
   <xsd:element name="request_date" type="xsd:date" minOccurs="0"/>
   <xsd:element name="valid" type="xsd:boolean"/>
   <xsd:element name="name" type="xsd:string" minOccurs="0"/>
   <xsd:element name="address" type="xsd:string" minOccurs="0"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="loginRequestType">
  <xsd:all>
   <xsd:element name="username" type="xsd:string"/>
   <xsd:element name="password" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="loginResponseType">
  <xsd:all>
   <xsd:element name="reactid" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="logoutRequestType"/>
 <xsd:complexType name="logoutResponseType"/>
 <xsd:complexType name="vatValidateRequestType">
  <xsd:all>
   <xsd:element name="vat_number" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="vatValidateResponseType">
  <xsd:all>
   <xsd:element name="out" type="tns:VatValidation"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="vatViesProxyCheckVatRequestType">
  <xsd:all>
   <xsd:element name="vat_number" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="vatViesProxyCheckVatResponseType">
  <xsd:all>
   <xsd:element name="out" type="tns:VatProxyViesCheckVatResponse"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:element name="errorcode" type="xsd:string"/>
 <xsd:element name="login" type="tns:loginRequestType"/>
 <xsd:element name="loginResponse" type="tns:loginResponseType"/>
 <xsd:element name="HeaderLogin" type="tns:HeaderLoginType"/>
 <xsd:element name="HeaderAuthenticate" type="tns:HeaderAuthenticateType"/>
 <xsd:element name="logout" type="tns:logoutRequestType"/>
 <xsd:element name="logoutResponse" type="tns:logoutResponseType"/>
 <xsd:element name="vatValidate" type="tns:vatValidateRequestType"/>
 <xsd:element name="vatValidateResponse" type="tns:vatValidateResponseType"/>
 <xsd:element name="vatViesProxyCheckVat" type="tns:vatViesProxyCheckVatRequestType"/>
 <xsd:element name="vatViesProxyCheckVatResponse" type="tns:vatViesProxyCheckVatResponseType"/>
</xsd:schema>
</types>
<message name="loginRequest">
  <part name="parameters" element="tns:login" /></message>
<message name="loginResponse">
  <part name="parameters" element="tns:loginResponse" /></message>
<message name="Headers">
  <part name="HeaderLogin" element="tns:HeaderLogin" />
  <part name="HeaderAuthenticate" element="tns:HeaderAuthenticate" /></message>
<message name="logoutRequest">
  <part name="parameters" element="tns:logout" /></message>
<message name="logoutResponse">
  <part name="parameters" element="tns:logoutResponse" /></message>
<message name="vatValidateRequest">
  <part name="parameters" element="tns:vatValidate" /></message>
<message name="vatValidateResponse">
  <part name="parameters" element="tns:vatValidateResponse" /></message>
<message name="vatViesProxyCheckVatRequest">
  <part name="parameters" element="tns:vatViesProxyCheckVat" /></message>
<message name="vatViesProxyCheckVatResponse">
  <part name="parameters" element="tns:vatViesProxyCheckVatResponse" /></message>
<portType name="Webservices.nlPortType">
  <operation name="login">
    <documentation>Logs the user in using username and password, returns a reactid for authentication in further requests</documentation>
    <input message="tns:loginRequest"/>
    <output message="tns:loginResponse"/>
  </operation>
  <operation name="logout">
    <documentation>Logs the user out, destroys the session associated with the reactid</documentation>
    <input message="tns:logoutRequest"/>
    <output message="tns:logoutResponse"/>
  </operation>
  <operation name="vatValidate">
    <documentation>Check if a VAT number is valid</documentation>
    <input message="tns:vatValidateRequest"/>
    <output message="tns:vatValidateResponse"/>
  </operation>
  <operation name="vatViesProxyCheckVat">
    <documentation>Check if a VAT number is valid</documentation>
    <input message="tns:vatViesProxyCheckVatRequest"/>
    <output message="tns:vatViesProxyCheckVatResponse"/>
  </operation>
</portType>
<binding name="Webservices.nlBinding" type="tns:Webservices.nlPortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="login">
    <soap:operation soapAction="https://api.webservices.nl/vat/soap_doclit.php/login" style="document"/>
    <input><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderLogin" use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></input>
    <output><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></output>
  </operation>
  <operation name="logout">
    <soap:operation soapAction="https://api.webservices.nl/vat/soap_doclit.php/logout" style="document"/>
    <input><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderLogin" use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></input>
    <output><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></output>
  </operation>
  <operation name="vatValidate">
    <soap:operation soapAction="https://api.webservices.nl/vat/soap_doclit.php/vatValidate" style="document"/>
    <input><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderLogin" use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></input>
    <output><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></output>
  </operation>
  <operation name="vatViesProxyCheckVat">
    <soap:operation soapAction="https://api.webservices.nl/vat/soap_doclit.php/vatViesProxyCheckVat" style="document"/>
    <input><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderLogin" use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></input>
    <output><soap:body use="literal"/><soap:header message="tns:Headers" part="HeaderAuthenticate" use="literal"/></output>
  </operation>
</binding>
<service name="Webservices.nl">
  <port name="Webservices.nlPort" binding="tns:Webservices.nlBinding">
    <soap:address location="https://api.webservices.nl:443/vat/soap_doclit.php"/>
  </port>
</service>
</definitions>